In [1008]:
import time
import pandas as pd
import numpy as np

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

MONTHS = ['january','february','march','april','may','june','all']
DAYS = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday','all']
CITIES = list(CITY_DATA.keys())



# get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
#def get_filters():
# get user input for month (all, january, february, ... , june)
# get user input for day of week (all, monday, tuesday, ... sunday)

In [1009]:
def get_filters():
    print("Hello! Let\'s explore some US Bikeshare data!'")
    

    #CITIES = list(CITY_DATA.keys())

    city=None
    while city!=CITIES:
        city=input(f"What city data would you like to explore?\n Select one from the {CITIES}. ").lower()
        if city in CITIES:
            break
        
        print("Umm... Looks like you entered the wrong city. Please choose from the list. ")
    
        city=None
        
        
        
    month=None
    while month!=MONTHS:
        month=input(f"Ok! Do you want to see the data for all the months? Or \n Select One from {MONTHS}. ").lower()
        if month in MONTHS:
            break
            
                
           
        print("Uh oh! I do not have a data to share for that month. Please select a month or option of \'all\' from the list. ")
        month=None

        
    day=None
    while day!=DAYS:
        day=input(f"Awesome! Now let\'s pick a day you want to check out the data for?\n Select One from {DAYS}.").lower()
        if day in DAYS:
            break
                
        print("That seems to be incorrect. Please select again.")
        day=None          

            
    return city, month, day
            
            
    
print('-'*40)

----------------------------------------

In [1010]:
city,month,day=get_filters()
print(city,month,day)

Hello! Let's explore some US Bikeshare data!'
What city data would you like to explore?
 Select one from the ['chicago', 'new york city', 'washington']. chicago
Ok! Do you want to see the data for all the months? Or
 Select One from ['january', 'february', 'march', 'april', 'may', 'june', 'all']. april
Awesome! Now let's pick a day you want to check out the data for?
 Select One from ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'all'].all
chicago april all

In [1011]:
def load_data(city, month, day):
    df=pd.read_csv(CITY_DATA[city])
    df['Start Time']=pd.to_datetime(df['Start Time'])
    df['Month']=df['Start Time'].dt.month
    df['Day']=df['Start Time'].dt.day_name()
    if month!='all':
        month=MONTHS.index(month)+1
        df=df[df['Month']==month]
    
    if day!='all':
        df=df[df['Day']==day.title()]
        
    return df

In [1012]:
df=load_data(city,month,day)

In [1013]:
def time_stats(df):
    
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()
    df['Month']=df['Start Time'].dt.month_name()
    common_month= df['Month'].mode()[0]
    common_day= df['Day'].mode()[0]
    df['hour']=df['Start Time'].dt.hour
    common_hour= df['hour'].mode()[0]
    
    print(f"The most common month is {common_month}.")
    print(f"The most common day is {common_day}.")
    print(f"The most common start hour is {common_hour}:00. ")
    
    
    # display the most common month


    # display the most common day of week


    # display the most common start hour


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [1014]:
time_stats(df)

Calculating The Most Frequent Times of Travel...

The most common month is April.
The most common day is Saturday.
The most common start hour is 17:00.

This took 0.09316468238830566 seconds.
----------------------------------------

In [1015]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()
    
    common_start_station= df['Start Station'].mode()[0]
    common_end_station=df['End Station'].mode()[0]
    frequent_combination=df.groupby(['Start Station','End Station']).size().idxmax()
    
    print(f'The most common start station is {common_start_station}.')
    print(f'The most common end station is {common_end_station}.')
    print(f'The most frequent route is {frequent_combination}.')
          

    # TO DO: display most commonly used start station


    # TO DO: display most commonly used end station


    # TO DO: display most frequent combination of start station and end station trip


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [1016]:
station_stats(df)

Calculating The Most Popular Stations and Trip...

The most common start station is Streeter Dr & Grand Ave.
The most common end station is Streeter Dr & Grand Ave.
The most frequent route is ('Lake Shore Dr & Monroe St', 'Streeter Dr & Grand Ave').

This took 0.050987958908081055 seconds.
----------------------------------------

In [1017]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()
    
    total_travel_time=df['Trip Duration'].sum()
    mean_travel_time=df['Trip Duration'].mean()
    
    
    print(f'Total travel time is {total_travel_time}.')
    print(f'Mean travel time is {mean_travel_time}.')

   

    # TO DO: display total travel time


    # TO DO: display mean travel time


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [1018]:
trip_duration_stats(df)

Calculating Trip Duration...

Total travel time is 50699234.
Mean travel time is 981.4211270059428.

This took 0.0012469291687011719 seconds.
----------------------------------------

In [1019]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()
    
    user_types=df['User Type'].value_counts()
    print(f'Count of user types are below:\n{user_types}')
    print('_'*20)
    
    if 'Gender' in df.columns and 'Birth Year' in df.columns:
        
        
   # while city!='washington':
        gender_count=df['Gender'].value_counts()
        earliest_birth_year=df['Birth Year'].min()
        recent_birth_year=df['Birth Year'].max()
        common_birth_year=df['Birth Year'].mode()[0]
        
        print(f'Gender count is below:\n {gender_count}')
        print('_'*20)
        print(f'The earliest birth year is {earliest_birth_year}.')
        print('_'*20)
        print(f'The most recent birth year is {recent_birth_year}.')
        print('_'*20)
        print(f'The most common year of birth is {common_birth_year}')

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [1020]:
user_stats(df)

Calculating User Stats...

Count of user types are below:
Subscriber    39829
Customer      11830
Name: User Type, dtype: int64
____________________
Gender count is below:
 Male      30250
Female     9585
Name: Gender, dtype: int64
____________________
The earliest birth year is 1899.0.
____________________
The most recent birth year is 2016.0.
____________________
The most common year of birth is 1989.0

This took 0.023096084594726562 seconds.
----------------------------------------

In [1021]:
def show_more_data(df):
    
    i=0
    USER_INPUT=('yes','no')
    
    
    while True:
        user_input_1=input('Do you want to see 5 more data rows?\n Please select \'yes\' or \'no\':').lower()
        if user_input_1=='no':
            print('Thank you for visiting my page! Come again soon :)')
        
            break
            
        elif user_input_1 not in USER_INPUT:
            
            print("Please select from the available options")
        
        else:            
            
            print(df.iloc[i:i+5:])
            i+=5

In [1022]:
show_more_data(df)

the value of I is0
Do you want to see 5 more data rows?
 Please select 'yes' or 'no':yes
    Unnamed: 0          Start Time             End Time  Trip Duration  \
8       606841 2017-04-20 16:08:51  2017-04-20 16:20:20            689
14      611000 2017-04-20 19:26:33  2017-04-20 19:35:08            515
19      475456 2017-04-08 11:37:55  2017-04-08 11:51:55            840
28      512692 2017-04-11 18:49:57  2017-04-11 18:59:36            579
41      601870 2017-04-20 07:47:23  2017-04-20 08:03:35            972

                 Start Station                          End Station  \
8       Sedgwick St & Huron St        Halsted St & Blackhawk St (*)
14       Canal St & Madison St      Racine Ave (May St) & Fulton St
19           Adler Planetarium                       Burnham Harbor
28        Clinton St & Lake St  Mies van der Rohe Way & Chestnut St
41  Indiana Ave & Roosevelt Rd            Wacker Dr & Washington St

     User Type Gender  Birth Year  Month       Day  hour
8   Subscriber   Male      1984.0  April  Thursday    16
14  Subscriber   Male      1984.0  April  Thursday    19
19    Customer    NaN         NaN  April  Saturday    11
28  Subscriber   Male      1989.0  April   Tuesday    18
41  Subscriber   Male      1992.0  April  Thursday     7
the value of I is5
Do you want to see 5 more data rows?
 Please select 'yes' or 'no':yes
    Unnamed: 0          Start Time             End Time  Trip Duration  \
46      461905 2017-04-06 14:58:44  2017-04-06 15:04:26            342
50      629006 2017-04-22 19:12:25  2017-04-22 19:15:41            196
57      697597 2017-04-29 09:46:00  2017-04-29 10:14:37           1717
62      462221 2017-04-06 15:54:54  2017-04-06 16:00:06            312
64      445106 2017-04-03 06:31:20  2017-04-03 06:43:33            733

                   Start Station                   End Station   User Type  \
46       Franklin St & Monroe St  Michigan Ave & Washington St  Subscriber
50     Clark St & Wellington Ave    Halsted St & Diversey Pkwy  Subscriber
57            Clark St & Lake St     Ashland Ave & Division St  Subscriber
62      McClurg Ct & Illinois St        State St & Randolph St  Subscriber
64  Clinton St & Washington Blvd     Halsted St & Roosevelt Rd  Subscriber

    Gender  Birth Year  Month       Day  hour
46    Male      1980.0  April  Thursday    14
50    Male      1988.0  April  Saturday    19
57  Female      1986.0  April  Saturday     9
62  Female      1984.0  April  Thursday    15
64    Male      1966.0  April    Monday     6
the value of I is10
Do you want to see 5 more data rows?
 Please select 'yes' or 'no':yes
    Unnamed: 0          Start Time             End Time  Trip Duration  \
67      468745 2017-04-07 13:38:53  2017-04-07 13:44:05            312
71      527768 2017-04-13 17:37:27  2017-04-13 17:59:29           1322
85      635646 2017-04-23 14:28:35  2017-04-23 15:00:52           1937
87      620450 2017-04-21 19:13:20  2017-04-21 19:25:37            737
88      591507 2017-04-18 21:23:07  2017-04-18 21:50:43           1656

                   Start Station                        End Station  \
67     Southport Ave & Roscoe St           Wilton Ave & Belmont Ave
71     Desplaines St & Kinzie St  Sangamon St & Washington Blvd (*)
85                Dusable Harbor             Clark St & Schiller St
87       Aberdeen St & Monroe St            Carpenter St & Huron St
88  Sheffield Ave & Waveland Ave                  Clark St & Elm St

     User Type  Gender  Birth Year  Month       Day  hour
67  Subscriber    Male      1989.0  April    Friday    13
71  Subscriber  Female      1978.0  April  Thursday    17
85    Customer     NaN         NaN  April    Sunday    14
87  Subscriber    Male      1986.0  April    Friday    19
88  Subscriber  Female      1989.0  April   Tuesday    21
the value of I is15
Do you want to see 5 more data rows?
 Please select 'yes' or 'no':nom
Please select from the available options
the value of I is15
Do you want to see 5 more data rows?
 Please select 'yes' or 'no':no
Thank you for visiting my page! Come again soon :)

In [544]:
"""def main():
    while True:
        city, month, day = get_filters()
        df=load_data(city,month,day)
        print(df.head())
        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break

if __name__ == "__main__":
	main()"""

Hello! Let's explore some US Bikeshare data!'
What city data would you like to explore?
 Select one from the ['chicago', 'new york city', 'washington']. chicago
Ok! Do you want to see the data for all the months? Or
 Select One from ['january', 'february', 'march', 'april', 'may', 'june', 'all']. all
Awesome! Now let's pick a day you want to check out the data for?
 Select One from ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'all'].all
   Unnamed: 0          Start Time             End Time  Trip Duration  \
0     1423854 2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915 2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031 2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487 2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207 2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year  Month        Day
0    Male      1992.0      6     Friday
1  Female      1992.0      5   Thursday
2    Male      1981.0      1  Wednesday
3    Male      1986.0      3     Monday
4    Male      1975.0      1    Tuesday

Calculating The Most Frequent Times of Travel...

The most common month is June.
The most common day is Tuesday.
The most common start hour is 17:00.

This took 0.13769221305847168 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

The most common start station is Streeter Dr & Grand Ave.
The most common end station is Streeter Dr & Grand Ave.
The most frequent route is ('Lake Shore Dr & Monroe St', 'Streeter Dr & Grand Ave').

This took 0.12625479698181152 seconds.
----------------------------------------

Calculating Trip Duration...

Total travel time is 280871787.
Mean travel time is 936.23929.

This took 0.001154184341430664 seconds.
----------------------------------------

Calculating User Stats...

Count of user types are below:
Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64
____________________

This took 0.02107095718383789 seconds.
----------------------------------------

KeyboardInterrupt: Interrupted by user

In [1030]:
## Your code should check if each number in the list is a prime number

check_prime = [26, 39, 51, 53, 57, 79, 85]
factor= 2


for number in check_prime:
    while True:
        if factor<=number and number%factor!=0:
            factor+=1
            
        elif factor<=number and number%factor==0:
            print("{} IS not a prime number, because {} is a factor of {}".format(number,factor,number)            
        
        else:
            print ("{} IS a prime number".format(number))

SyntaxError: invalid syntax (781069910.py, line 15)